@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0 auto;
}
.header{
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 3px 5px grey;
    position: relative;
    margin-top: 20px;
    width: 350px;
    height: 445px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    z-index: 1;
    margin-left: 500px;
}

#display{
    width: 352px;
    height: 118px;
    margin-bottom: 20px;
    border: none;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 5px;
    outline: none;
    text-align: right;
    font-size: 30px;
    color: white;
}
.control button{
    border: none;
    border-radius: 5px;
    width: 74px;
    height: 60px;
    margin: 0px 5px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: white;
    font-size: 20px;
}
.btn1:hover{
    background-color: gray;
    color: white;
}

